.upcoming-events {
  > h3 {
    font-size: 1.3rem;
    font-family: $Montserrat;
  }
  .no-event-listings {
    color: rgba(black, 0.5);
  }
  .event {
    padding-bottom: 2rem;
    margin: 1rem 0;
    border-bottom: 1px solid rgba(black, 0.2);
    border-style: dashed;
    .event-title {
      font-size: 1.8rem;
      color: $booger;
    }
    .event-datetime {
      display: flex;
      padding: 0.5rem 0;
      .event-date {
        color: $charcoal-grey;
        margin: 0;
        padding-right: 0.4rem;
        font-size: 18px;
      }
      .break {
        border-left: 1px solid $charcoal-grey;
        height: 1.2rem;
        align-self: center;
      }
      .event-time {
        color: $charcoal-grey;
        margin: 0;
        padding-left: 0.4rem;
        font-size: 18px;
      }
    }
    .event-content {
      padding-bottom: 0.66rem;
      color: $brownish-grey;
    }
    .cta-read-more {
      line-height: 16px;
      padding: 0.7rem 1rem;
      color: $white;
      font-family: $Montserrat;
      font-weight: bold;
      background-color: $cool-grey;
      border: none;
      border-radius: 1.6rem;
      transition: background-color 200ms ease-out;
      &:hover {
        background-color: rgba($charcoal-grey, 1);
        transition: background-color 200ms ease-in;
      }
    }
  }
}

.single-event {
  > p {
    font-size: 18px;
    color: $cool-grey;
    font-weight: bold;
    font-family: $Montserrat;
    letter-spacing: 1.5px;
  }
  .event {
    background-color: $white;
    border-radius: 0;
    > hr {
      border-style: dashed;
    }
    .event-datetime {
      padding-bottom: 2rem;
      .break {
        border-left: 1px solid $charcoal-grey;
      }
      .event-date {
        font-family: $Montserrat;
        color: $charcoal-grey;
        font-size: 1.4rem;
        font-weight: normal;
      }
      .event-time {
        font-family: $Montserrat;
        color: $charcoal-grey;
        font-size: 1.4rem;
        font-weight: normal;
      }
    }
    .cta-read-more {
      background-color: $booger;
      &:hover {
        background-color: rgba($booger, 0.7);
      }
    }
    .unavailable {
      background-color: $brownish-grey;
      color: $light-grey;
      &:hover, &:focus {
        background-color: $brownish-grey;
        cursor: default;
        outline: none;
      }
    }
    .sorry-msg {
      color: rgba($booger, 0.8);
      padding-left: 1rem;
      a {
        color: rgba($booger, 1);
        transition: color 100ms linear;
        &:hover {
          color: rgba($booger, 0.4);
          transition: color 100ms linear;
        }
      }
      @include media-breakpoint-down(sm) {
        display: block;
        padding-left: 0.4rem;
        margin-top: 1rem;
      }
    }
  }
}
