.upcoming-events {
  .event {
    background-color: $light-grey;
    border-radius: 8px;
    padding: 1rem 1rem 2rem 1rem;
    margin: 1rem 0;
    .event-datetime {
      display: flex;
      padding: 0.5rem 0;
      .event-date {
        color: rgba(black, 0.3);
        font-weight: bold;
        margin: 0;
        padding-right: 1rem;
      }
      .break {
        border-left: 1px solid rgba(black, 0.2);
        height: 1rem;
        align-self: center;
      }
      .event-time {
        color: rgba(black, 0.3);
        font-weight: bold;
        margin: 0;
        padding-left: 1rem;
      }
    }
    .event-content {
      padding-bottom: 0.66rem;
    }
    .cta-read-more {
      font-size: 18px;
      line-height: 16px;
      color: $booger;
      font-family: $Montserrat;
      font-weight: 700;
      font-style: normal;
    }
  }
}


.single-event {
  padding: 25px 0;
  .event-title {
    padding: 1rem;
  }
  .event {
    background-color: $white;
    border-radius: 0;
    .event-title {
      padding: 1rem 0;
    }
    .event-datetime {
      padding: 1rem 0;
    }
    .btn-reserve {
      background-color: $light-grey;
      transition: all 100ms linear;
      &:hover, &:focus {
        color: black;
        background-color: rgba($booger, 0.7);
        transition: all 150ms linear;
      }
    }
    .btn-unavailable {
      background-color: $light-grey;
      cursor: not-allowed;
      color: rgba(black, 0.3);
      transition: all 150ms linear;
      &:hover, &:focus {
        // color: grey;
        outline: none;
        background-color: $light-grey;
        transition: all 100ms linear;
      }
    }
    .event-contact {
      a {
        color: $booger;
        &:hover {

          color: rgba($booger, 0.7);
        }
      }
    }
  }
}
