body {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0;
  color: $charcoal-grey;
  font-family: $Nunito;
  padding-top: 8rem;
}
button:hover,
button:active,
button:focus,
a:hover,
a:focus,
a:active{
  outline: 0;
  text-decoration: none;
  cursor: pointer;
}

.homepage_nav_title {
  display: none;
}

// Fixes comments boxes odd spacing on pages
#commentsbox {
  ol {
    padding-left: 0;
  }
}

a {
  color: $booger;
  transition: color 200ms linear;
  &:hover, &:focus {
    color: rgba($booger, 0.7);
    transition: color 200ms linear;
  }
}
