/* SECTION : News & Events */
.blog-articles {
  display: flex;
  flex-wrap: wrap;
}
.pagination {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 2px solid rgba($black, 0.2);
  border-radius: 0;
  margin: 0 1rem 0 1rem;
  div {
    margin: 2rem 0 0 0;
  }
  a {
    font-size: 1.5rem;
    line-height: 24px;
    color: $silver-two;
    font-family: $Montserrat;
    font-weight: 700;
    font-style: normal;
    transition: color 300ms ease-out;
    &:hover {
      color: $booger;
      opacity: .8;
      transition: color 350ms linear;
    }
  }
}
.no-border {
  border: none;
  margin: 1rem 0 1rem 0;
  color: $booger;
  a {
    color: $booger;
    transition: color 100ms linear;
    &:hover {
      color: rgba($booger, 0.8);
      transition: color 100ms linear;
    }
  }
}
.post-item {
  position: relative;
  @include flexbox;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 48px;
  &.first-post {
    .post-title {
      font-size: 36px;
      line-height: 48px;
      letter-spacing: 0;
      margin: 8px 0px 16px;
    }
    .post-content {
      font-size: 18px;
      line-height: 30px;
    }
    .cta-read-more {
      font-size: 18px;
      line-height: 16px;
      color: $booger;
      font-family: $Montserrat;
      font-weight: 700;
      font-style: normal;
      transition: all 0.25s ease-out;
      padding: 0;
      text-transform: inherit;
      @include media-breakpoint-down(sm) {
        margin-bottom: 10px;
        display: block;
      }
    }
    .post-meta {
      margin-top: 24px;
    }
  }
  .post-thumbnail, .wp-post-image {
    position: relative;
    .ratio-container {
      padding-bottom: 50%;
      .ratio-content {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-size: cover;
        background-position: 50% 50%;
      }
    }
    &:hover {
      .post-overlay {
        opacity: 1;
      }
    }
    .post-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: .5s opacity ease-in-out;
      background-color: rgba(47,47,47,.3);
      background: -webkit-linear-gradient(rgba(0,0,0,0),#232323);
      background: -moz-linear-gradient(rgba(0,0,0,0),#232323);
      background: -o-linear-gradient(rgba(0,0,0,0),#232323);
      background: linear-gradient(rgba(47,47,47,.1),rgba(47,47,47,.3));
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .post-categories {
    text-transform: uppercase;
    color: $booger;
    margin-top: 16px;
    display: flex;
    ul {
      list-style: none;
      padding: 0;
      li {
        &:last-of-type {
          border: none;
        }
        &:first-of-type {
          padding-left: 0;
        }
        padding: 0 0.5rem;
        border-right: 1px solid rgba(black, 0.2);
        a {
          font-size: 12px;
          color: $booger;
          line-height: 16px;
          letter-spacing: 1px;
          font-family: $Montserrat;
          font-weight: 700;
          font-style: normal;
        }
      }
    }
  }
  .post-title {
    color: $charcoal-grey;
    font-size: 22px;
    line-height: 32px;
    font-family: $Montserrat;
    font-weight: 700;
    font-style: normal;
    transition: all 0.25s ease-out;
    &:hover {
      opacity: .8;
      transition: all 0.3s linear;
    }
  }
  .post-meta {
    color: $cool-grey;
    font-size: 14px;
    line-height: 16px;
    margin: 8px 0 24px;
    a {
      color: $cool-grey;
      img {
        font-size: 16px;
        margin-right: 8px;
      }
      &.post-author,
      &.post-date {
        &:after {
          content: "";
          width: 1px;
          background-color: $silver-two;
          display: inline-block;
          height: 16px;
          margin: 0 12px;
          vertical-align: top;
          @include media-breakpoint-down(sm) {
            margin: 0 5px;
          }
        }
      }
      &.post-date {
        cursor: default;
      }
      .has-comment {
        color: $booger;
      }
    }
  }
  .post-content {
    p {
      margin-bottom: 0;
    }
  }
}


.splash-section {
  padding-top: 24px;
  @include media-breakpoint-up(lg) {
    margin-top: 2rem;
  }
  .splash-content {
    position: relative;
    .splash-banner {
      img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        @include media-breakpoint-up(lg) {
          max-height: 480px;
          &.medium-screen,
          &.small-screen {
            display: none;
          }
        }
        @include media-breakpoint-down(md) {
          &.large-screen,
          &.small-screen {
            display: none;
          }
        }
        @include media-breakpoint-down(sm) {
          &.medium-screen,
          &.large-screen {
            display: none;
          }
          &.small-screen {
            display: block;
            max-width: 75%;
            margin: 0 auto 0 auto;
          }
        }
      }
    }
    .title{
      @include media-breakpoint-up(lg) {
        position: absolute;
        top: 30px;
        left: 45%;
        transform: translate(-40%, -10%);
      }
      text-align: center;
      @include media-breakpoint-down(md) {
        font-size: 42px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 30px;
        line-height: 40px;
        margin-top: 4px;
        margin-bottom: 16px;
      }
    }
  }
}

/* SECTION : News & Events */
.news-events-section {
  padding-top: 96px;
  padding-bottom: 45px;
  .footer-news {
    border-top: 2px solid $silver-two;
    padding: 19px 0;
  }
}

/* SECTION : Contact Us */
.contact-section {
  background-color: $light-grey;
  padding-top: 48px;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  .title {
    font-family: $Montserrat;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  a {
    color: $charcoal-grey;
  }
  .resources,
  .feed {
    margin-bottom: 33px;
    a {
      display: block;
      padding-bottom: 15px;
      padding-top: 15px;
      border-bottom: solid 2px $charcoal-grey;
      font-family: $Nunito;
      transition: all 0.25s ease-out;
      &:nth-child(2) {
        padding-top: 0;
      }
      &:last-child {
        border-bottom: 0;
      }
      &:hover,&:focus {
        color: $booger;
        transition: all 0.3s linear;
      }
    }
  }
  .find-us {
    margin-bottom: 38px;
    .sub-text {
      margin-bottom: 8px;
    }
  }
  .sign-up {
    margin-bottom: 48px;
    .widget_title {
      font-family: $Montserrat;
      font-weight: 700;
      font-style: normal;
      margin-bottom: $headings-margin-bottom;
      color: $headings-color;
      text-transform: uppercase;
      padding-bottom: 0.7rem;
    }
    .mc_merge_var {
      background: $white;
      padding: 8px 16px;
      margin-bottom: 4px;
      label {
        font-size: 12px;
        line-height: 24px;
        font-family: $Montserrat;
        font-weight: 700;
        font-style: normal;
        text-transform: uppercase;
      }
      input {
        padding: 5px 0;
        border: none;
        box-shadow: none;
      }
    }
    .note {
      margin-bottom: 16px;
      display: block;
      font-size: 14px;
      line-height: 24px;
    }
    .mc_error_msg {
      color: rgba($booger, 0.8);
    }
  }
  .help-us {
    .cta-donate {
      margin-top: 16px;
      margin-bottom: 16px;
    }
    .icons-donate {
      list-style: none;
      padding-left: 0;
      li {
        display: inline-block;
        img {
          width: 43px;
          height: 32px;
          margin-right: 8px;
          margin-bottom: 8px;
        }
      }
    }
  }
}
